<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="vendors/styles/forgotPassword.css">
    <link rel="shortcut icon" type="image/png" href="vendors/images/vaccine-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img class="wave" src="vendors/images/vaccine_logo_bg.jpg" alt="loading..." >
<div class="container">
    <div class="img">
        <img src="vendors/images/icon_protect_1.png"  alt="loading..." >
    </div>
    <div class="login-content">
        <div class="layout" style="background-color: rgba(0, 0, 1, 0.2); border-radius: 50px ">
        <form th:action="@{/resetNew}" method="post" onsubmit="return checkPasswordMatch();">
            <input type="hidden" name="email" th:value="${email}" />
            <input type="hidden" name="code" th:value="${code}" />
            <img src="vendors/images/user05.png" alt="loading..."/>
            <h1 class="title" style="padding-bottom: 10px; color: #fdfdfe">Change Password</h1>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5 for="password">Enter your new password <span class="text-danger">*</span></h5>
                    <input type="password" id="password"
                           name="password"
                           class="input">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5 for="passwordConfirm">Confirm your new password<span class="text-danger">*</span></h5>
                    <input type="password" id="passwordConfirm"
                           class="input" name="passwordConfirm" >
                </div>
            </div>
            <div id="passwordMatchError" class="alert alert-danger" style="display: none; color: #ee2513">
                Confirm password does not match.
            </div>
            <div id="nullEnter" class="alert alert-danger" style="display: none;color: #ee2513">
                Please enter password.
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
        </div>
    </div>
</div>
<script src="vendors/scripts/login.js"></script>
<script src="vendors/scripts/checkPasswordMatch.js"></script>
</body>
</html>