<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Vaccine Management</title>

    <!-- Site favicon -->
    <link rel="shortcut icon" type="image/png" href="vendors/images/icon_protect_1.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="vendors/styles/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>
<body>

<div th:replace="~{common/newsidebar :: newsidebar}"/>

<div class="mobile-menu-overlay"></div>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-400px">
            <!-- Simple Datatable start -->
            <div class="card-box mb-30">
                <div class="pd-20">
                    <h3 style="color: #17a2b8">Create Employee</h3>
                </div>
                <div class="pb-20 m-lg-2">
                    <form  th:action="@{/createemp}" id="createForm" method="POST" th:object="${emp}" enctype="multipart/form-data">
                        <div class="row ml-1 mr-1">
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label class="form-label" for="employeeID">Employee ID<a class="text-danger">(*):</a>
                                    <input class="form-control" type="text" id="employeeID" th:field="*{employeeID}"
                                           th:classappend="${#fields.hasErrors('employeeID')} ? 'is-invalid' : ''" placeholder="Enter Employee ID">
                                    <div class="text-danger" th:if="${#fields.hasErrors('employeeID')}" th:errors="*{employeeID}">Employee ID error</div>
                                </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label  class="form-label" for="empName">Employee Name<a class="text-danger">(*):</a>
                                    <input class="form-control" type="text" id="empName" th:field="*{employeeName}"
                                           th:classappend="${#fields.hasErrors('employeeName')} ? 'is-invalid' : ''" placeholder="Enter Employee Name">
                                    <div class="text-danger" th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}">Employee Name error</div>
                                </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label class="form-label" for="dob">Date of Birth<a class="text-danger">(*):</a>
                                    <input class="form-control" type="date" id="dob" name="dateOfBirth" th:field="*{dateOfBirth}" max="9999-12-31"
                                           th:classappend="${#fields.hasErrors('dateOfBirth')} ? 'is-invalid' : ''">
                                    <div class="text-danger" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Dob error</div>
                                </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                <label class="form-label" for="gender">Gender<a class="text-danger">(*):</a>
                                    <div id="gender" class="form-control">
                                        <input type="radio" name="gender" th:field="*{gender}" value="0">Female</input>
                                        <input style="margin-left:15px" type="radio" name="gender" th:field="*{gender}" value="1">Male  </input>
                                    </div>
                                </label>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-1 mr-1">
                            <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                <label class="form-label" for="phone">Phone number<a class="text-danger">(*):</a>
                                    <input class="form-control" type="text" id="phone" th:field="*{phone}"
                                           th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid' : ''" placeholder="Enter Phone number">
                                    <div class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone number error</div>
                                </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                <label class="form-label" for="address">Address<a class="text-danger">(*):</a>
                                    <input class="form-control" type="text" id="address" th:field="*{address}"
                                           th:classappend="${#fields.hasErrors('address')} ? 'is-invalid' : ''" placeholder="Enter Address">
                                    <div class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address error</div>
                                </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                <label class="form-label" for="email">Email<a class="text-danger">(*):</a>
                                    <input class="form-control" type="text" id="email" th:field="*{email}"
                                           th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''" placeholder="Enter Email">
                                    <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
                                </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label class="form-label" for="workPlace">Working place<a class="text-danger">(*):</a>
                                    <input th:field="*{workingPlace}" id="workPlace" class="input-group form-control" placeholder="Enter Working Place" type="text" name="workingPlace">
                                </label>
                            </div>
                        </div>
                        <div class="row ml-1 mr-1">
                            <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                <label class="form-label" for="username">Username<a class="text-danger">(*):</a>
                                    <input class="form-control" type="text" id="username" th:field="*{username}"
                                           th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''" placeholder="Enter Username">
                                    <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
                                </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                <label class="form-label" for="password">Password<a class="text-danger">(*):</a>
                                    <input class="form-control" type="text" id="password" th:field="*{password}"
                                           th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''" placeholder="Enter Password">
                                    <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
                                </label>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                <label class="form-label" for="position">Position<a class="text-danger">(*):</a>
                                    <select th:field="*{position}" id="position" th:classappend="${#fields.hasErrors('position')} ? 'is-invalid' : ''" class="form-control form-select">
                                        <option value="0" >Select Position</option>
                                        <option value="admin">Admin</option>
                                        <option value="employee">Employee</option>
                                    </select>
                                    <div class="text-danger" th:if="${#fields.hasErrors('position')}" th:errors="*{position}">Position error</div>
                                </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                <label class="form-label" for="imageFile">Image<a class="text-danger">(*):</a>
                                    <input name="imgFile" class="form-control" type="file" id="imageFile" accept="image/*">
                                </label>
                                </div>
                            </div>
                        </div>

                        <span th:if="${msgW != null}" id="msgW">
                        <div class="alert alert-danger mr-4 ml-4 text-center mt-4"  th:text="${msgW}" style="padding-left: 10px"></div>
                        </span>
                        <span th:if="${msgS != null}">
                        <div class="alert alert-success mr-4 ml-4 text-center mt-4" th:text="${msgS}" style="padding-left: 10px"></div>
                        </span>
                            <div class="text-left ml-4 mt-3">
                                <input type="submit" id="createBtn" class="btn btn-success" value="Create">
                                <input type="reset" class="text-white btn btn-warning"  value="Reset">
                                <a class="text-white btn btn-danger" th:href="@{/employee}">Close</a>
                            </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- Simple Datatable End -->
        <!-- multiple select row Datatable start -->

        <!-- multiple select row Datatable End -->
        <!-- Checkbox select Datatable start -->

    </div>
</div>
<!-- js -->
<script src="vendors/scripts/core.js"></script>
<script src="vendors/scripts/script.min.js"></script>
<script src="vendors/scripts/layout-settings.js"></script>
<script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
<!-- Datatable Setting js -->
<script src="vendors/scripts/datatable-setting.js"></script>


</body>
</html>