<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
  <link rel="stylesheet" type="text/css" href="vendors/styles/forgotPassword.css">
  <link rel="shortcut icon" type="image/png" href="vendors/images/vaccine-icon.png">
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
</head>
<body>
<img class="wave" src="vendors/images/vaccine_logo_bg.jpg">
<div class="container">
  <div class="img">
    <img src="vendors/images/icon_protect_1.png"  alt="loading..." >
  </div>
  <div class="login-content" >
    <div class="layout" style="background-color: rgba(0, 0, 1, 0.2); border-radius: 50px ">
      <a  href="/login" class="back-button" id="a2">
        <i class="fas fa-arrow-left"></i> Back
      </a>
      <form id="myForm" th:action="@{/forgot_password_form}" method="post" >
        <img src="vendors/images/user05.png"><br>
        <h1 class="title" style="color: #fdfdfe">Forgot Password</h1>
        <h3 class="title" for="email" style="padding-bottom: 15px; color: #FFFFFF">We will be sending a code to your email</h3>
        <div class="input-div one">
          <div class="i">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="div">
            <h5>Enter your e-mail:</h5>
            <input type="text" id="email" name="email" class="input" >
          </div>
        </div>
        <div class="text-center">
          <h5 class="text-danger" style="color: red">[[${error}]]</h5>
        </div>
        <button type="submit" id="submitButton" class="btn">Submit</button>
        <!--      <button type="submit" ib="submitButtonDisabled" class="hidden-button">Submit...</button>-->
      </form>
    </div>
  </div>
</div>
<script src="vendors/scripts/login.js"></script>
<script src="vendors/scripts/forgot_password.js"></script>


</body>
</html>