<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="_layout"><head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Vaccine Management</title>

    <!-- Site favicon -->
    <link rel="shortcut icon" type="image/png" href="vendors/images/icon_protect_1.png">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="vendors/styles/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');

        //Change URl
        function changeURL(newURL){
            window.location.href = newURL;
            return false;
        }

    </script>
</head>
<body>

<div th:replace="~{common/newsidebar :: newsidebar}"/>
<div class="mobile-menu-overlay"></div>
<div class="main-container">
    <div class="text-center text-blue mt-4 mb-3">
        <h2 style="color: #17a2b8">REPORT CUSTOMER</h2>
    </div>
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-400px">
            <!-- Simple Datatable start -->
            <div class="card-box mb-30">
                <div class="pd-20">
                    <div class="da-card-content mr-0">
                        <div class="row ml-3 mr-3">
                            <div>
                                <form id="filterForm" th:action="@{/reportcustomerchart}" method="get">
                                    <div class="form-group row">

                                        <!-- DisplayType -->
                                        <div class="col-sm-4 pr-0">
                                            <label><b>Display Type:</b></label>
                                            <div class="row ml-1">
                                                <div class="form-check pr-lg-3">
                                                    <input class="form-check-input" type="radio" name="displayType" id="report" value="report" onclick="changeURL('/reportcustomer')">
                                                    <label class="form-check-label" for="report">Report</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="displayType" id="chart" value="chart" onclick="changeURL('/reportcustomerchart')" checked>
                                                    <label class="form-check-label" for="chart">Chart</label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- VaccineType -->
                                        <div class="col-sm-5 mr-2 ml-5">
                                            <label><b>Select year: </b></label>
                                            <select class="form-control" id="yearSelection" name="yearSelection">
                                                <option value="">--Select year--</option>
                                                <option value="2020" th:selected="${yearSelection == '2020'}">2020</option>
                                                <option value="2021" th:selected="${yearSelection == '2021'}">2021</option>
                                                <option value="2022" th:selected="${yearSelection == '2022'}">2022</option>
                                                <option value="2023" th:selected="${yearSelection == '2023'}">2023</option>
                                                <option value="2024" th:selected="${yearSelection == '2024'}">2024</option>
                                            </select>
                                        </div>

                                        <!-- Action -->
                                        <div class="col-sm-1">
                                            <label><b>Action:</b></label>
                                            <div class="d-flex">
                                                <button type="submit" class="btn btn-outline-success btn-sm mr-1 mb-4" id="filterButton">Filter</button>
                                            </div>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>
                        <!--  Chart box-->
                        <div class="da-card-content mr-0" >
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                            <canvas id="bar" style="width: 50%"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- js -->
    <script src="vendors/scripts/core.js"></script>
    <script src="vendors/scripts/script.min.js"></script>
    <script src="vendors/scripts/layout-settings.js"></script>
    <script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <!-- Datatable Setting js -->
    <script src="vendors/scripts/datatable-setting.js"></script>

    <!-- popup-->
    <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notificationModalLabel">Notification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="notificationModalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="confirmDeleteButton" type="button" class="btn btn-danger mt-2 mr-2">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Chart JS  -->
<script th:inline="javascript">

    //Data from Controller
    var Data = [[${customerList}]];  //[Month,Value]

    var allMonths = ["January", "February", "March", "April", "May",
        "June", "July", "August", "September", "October", "November", "December"];

    //Array for value
    var ValueData = new Array(12).fill(0);

    // Update data into ValueData
    Data.forEach(function(item) {
        var monthIndex = allMonths.indexOf(item.split(',')[0]);  //Split from [Month,Value] to only [Month]
        var count = parseInt(item.split(',')[1]);                //Parsing value into int
        if (monthIndex !== -1) {                                 //If Month from Data is match with
            ValueData[monthIndex] = count;                      //monthIndex then set the Value from Data into ValueData[monthIndex] by monthIndex
        }
    });

    // Generate barchart
    var chartData = {
        labels: allMonths,
        datasets: [{
            label: "Number of customer vaccinated during a year",
            data: ValueData,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
        }]
    };

    var ctx = document.getElementById("bar").getContext("2d");
    new Chart(ctx, {
        type: 'bar',
        data: chartData
    });


</script>
</div>
</body>
</html>