<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Vaccine Management</title>

    <!-- Site favicon -->
    <link rel="shortcut icon" type="image/png" href="vendors/images/icon_protect_1.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="vendors/styles/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>
<body>

<div th:replace="~{common/newsidebar :: newsidebar}"/>

<div class="mobile-menu-overlay"></div>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- Simple Datatable start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text h2" style="color: #17a2b8;">Update Vaccine</h4>
                    </div>
                </div>
                <form method="post" th:object="${vaccine}" th:action="@{/vaccineEdit}" class="container-fluid vaccineTypeForm">

                    <div  class="row">
                        <div class="col-md-9 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" for="vaccineID">Vaccine Code<span class="text-danger">(*):</span></label>
                                <input class="form-control" type="text" id="vaccineID" th:field="*{vaccineID}" th:classappend="${#fields.hasErrors('vaccineID')} ? 'is-invalid' : ''" required readonly placeholder="Enter Vaccine Code">
                                <p class="text-danger" th:if="${#fields.hasErrors('vaccineID')}" th:errors="*{vaccineID}">VaccineID error</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Active (*)
                                    <input type="checkbox" th:field="*{status}"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" for="vaccineName">Vaccine Name<span class="text-danger">(*):</span></label>
                                <input class="form-control" type="text" id="vaccineName" th:field="*{vaccineName}" th:classappend="${#fields.hasErrors('vaccineName')} ? 'is-invalid' : ''" placeholder="Enter Vaccine Name" >
                                <p class="text-danger" th:if="${#fields.hasErrors('vaccineName')}" th:errors="*{vaccineName}">Vaccine Name error</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Vaccine Type Name<span class="text-danger">(*):</span></label>
                                <select class="form-control"
                                        th:field="*{vaccineType}"
                                        th:classappend="${#fields.hasErrors('vaccineType')} ? 'is-invalid' : ''">
                                    <option value="0">Select Vaccine Type</option>
                                    <option th:each="item: ${vaccineTypesList}"
                                            th:value="${item.vaccineTypeID}"
                                            th:text="${item.vaccineTypeName}"></option>
                                </select>
                                <p class="text-danger" th:if="${#fields.hasErrors('vaccineType')}" th:errors="*{vaccineType}">VaccineType error</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="numberOfInjection">Number of Injections <span class="text-danger">(*):</span></label>
                                <input type="text" th:field="*{numberOfInjection}" id="numberOfInjection" class="form-control" name="numberOfInjection" th:classappend="${#fields.hasErrors('numberOfInjection')} ? 'is-invalid' : ''" placeholder="Enter number of injections" >
                                <p class="text-danger" th:if="${#fields.hasErrors('numberOfInjection')}" th:errors="*{numberOfInjection}">Number of Injections Error</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" for="description">Description<span class="text-danger">(*):</span></label>
                                <textarea class="form-control" type="text" id="description" th:field="*{description}" placeholder="(Optional)"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" for="indication">Indication<span class="text-danger">(*):</span></label>
                                <textarea class="form-control" type="text" id="indication" th:field="*{indication}" placeholder="(Optional)"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" for="contraindication" >Contraindication<span class="text-danger">(*):</span></label>
                                <textarea class="form-control" type="text" id="contraindication" th:field="*{contraindication}" placeholder="(Optional)"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" for="timeBeginNextInjection">Time Begin Next Injection <span class="text-danger">(*):</span></label>
                                <input type="date" th:field="*{timeBeginNextInjection}" id="timeBeginNextInjection" class="form-control" name="timeBeginNextInjection" th:classappend="${#fields.hasErrors('timeBeginNextInjection')} ? 'is-invalid' : ''" placeholder="Enter Vaccine Code" max="9999-12-31">
                                <p class="text-danger" th:if="${#fields.hasErrors('timeBeginNextInjection')}" th:errors="*{timeBeginNextInjection}">Time Begin Next Injection Error</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" for="timeEndNextInjection">Time End Next Injection <span class="text-danger">(*):</span></label>
                                <input type="date" th:field="*{timeEndNextInjection}" id="timeEndNextInjection" class="form-control" name="timeEndNextInjection" th:classappend="${#fields.hasErrors('timeEndNextInjection')} ? 'is-invalid' : ''" max="9999-12-31">
                                <p class="text-danger" th:if="${#fields.hasErrors('timeEndNextInjection')}" th:errors="*{timeEndNextInjection}">Time End Next Injection Error</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" for="origin">Origin:</label>
                                <select class="form-control" id="origin" name="origin">
                                    <option th:if="${vaccine.vaccineID == null}" value="">--Select an Origin--</option>
                                    <option th:if="${vaccine.vaccineID != null}" th:value="${vaccine.origin}" th:text="${vaccine.origin}"></option>
                                    <option value="AF">🇦🇫 Afghanistan</option>
                                    <option value="AX">🇦🇽 Åland Islands</option>
                                    <option value="AL">🇦🇱 Albania</option>
                                    <option value="DZ">🇩🇿 Algeria</option>
                                    <option value="AS">🇦🇸 American Samoa</option>
                                    <option value="AD">🇦🇩 Andorra</option>
                                    <option value="AO">🇦🇴 Angola</option>
                                    <option value="AI">🇦🇮 Anguilla</option>
                                    <option value="AQ">🇦🇶 Antarctica</option>
                                    <option value="AG">🇦🇬 Antigua and Barbuda</option>
                                    <option value="AR">🇦🇷 Argentina</option>
                                    <option value="AM">🇦🇲 Armenia</option>
                                    <option value="AW">🇦🇼 Aruba</option>
                                    <option value="AU">🇦🇺 Australia</option>
                                    <option value="AT">🇦🇹 Austria</option>
                                    <option value="AZ">🇦🇿 Azerbaijan</option>
                                    <option value="BS">🇧🇸 Bahamas</option>
                                    <option value="BH">🇧🇭 Bahrain</option>
                                    <option value="BD">🇧🇩 Bangladesh</option>
                                    <option value="BB">🇧🇧 Barbados</option>
                                    <option value="BY">🇧🇾 Belarus</option>
                                    <option value="BE">🇧🇪 Belgium</option>
                                    <option value="BZ">🇧🇿 Belize</option>
                                    <option value="BJ">🇧🇯 Benin</option>
                                    <option value="BM">🇧🇲 Bermuda</option>
                                    <option value="BT">🇧🇹 Bhutan</option>
                                    <option value="BO">🇧🇴 Bolivia, Plurinational State of</option>
                                    <option value="BA">🇧🇦 Bosnia and Herzegovina</option>
                                    <option value="BW">🇧🇼 Botswana</option>
                                    <option value="BV">🇧🇻 Bouvet Island</option>
                                    <option value="BR">🇧🇷 Brazil</option>
                                    <option value="IO">🇮🇴 British Indian Ocean Territory</option>
                                    <option value="BN">🇧🇳 Brunei Darussalam</option>
                                    <option value="BG">🇧🇬 Bulgaria</option>
                                    <option value="BF">🇧🇫 Burkina Faso</option>
                                    <option value="BI">🇧🇮 Burundi</option>
                                    <option value="KH">🇰🇭 Cambodia</option>
                                    <option value="CM">🇨🇲 Cameroon</option>
                                    <option value="CA">🇨🇦 Canada</option>
                                    <option value="CV">🇨🇻 Cabo Verde</option>
                                    <option value="KY">🇰🇾 Cayman Islands</option>
                                    <option value="CF">🇨🇫 Central African Republic</option>
                                    <option value="TD">🇹🇩 Chad</option>
                                    <option value="CL">🇨🇱 Chile</option>
                                    <option value="CN">🇨🇳 China</option>
                                    <option value="CX">🇨🇽 Christmas Island</option>
                                    <option value="CC">🇨🇨 Cocos (Keeling) Islands</option>
                                    <option value="CO">🇨🇴 Colombia</option>
                                    <option value="KM">🇰🇲 Comoros</option>
                                    <option value="CG">🇨🇬 Congo</option>
                                    <option value="CD">🇨🇩 Congo, The Democratic Republic of the</option>
                                    <option value="CK">🇨🇰 Cook Islands</option>
                                    <option value="CR">🇨🇷 Costa Rica</option>
                                    <option value="CI">🇨🇮 Côte d'Ivoire</option>
                                    <option value="HR">🇭🇷 Croatia</option>
                                    <option value="CU">🇨🇺 Cuba</option>
                                    <option value="CY">🇨🇾 Cyprus</option>
                                    <option value="CZ">🇨🇿 Czechia</option>
                                    <option value="DK">🇩🇰 Denmark</option>
                                    <option value="DJ">🇩🇯 Djibouti</option>
                                    <option value="DM">🇩🇲 Dominica</option>
                                    <option value="DO">🇩🇴 Dominican Republic</option>
                                    <option value="EC">🇪🇨 Ecuador</option>
                                    <option value="EG">🇪🇬 Egypt</option>
                                    <option value="SV">🇸🇻 El Salvador</option>
                                    <option value="GQ">🇬🇶 Equatorial Guinea</option>
                                    <option value="ER">🇪🇷 Eritrea</option>
                                    <option value="EE">🇪🇪 Estonia</option>
                                    <option value="SZ">🇸🇿 Eswatini</option>
                                    <option value="ET">🇪🇹 Ethiopia</option>
                                    <option value="FK">🇫🇰 Falkland Islands (Malvinas)</option>
                                    <option value="FO">🇫🇴 Faroe Islands</option>
                                    <option value="FJ">🇫🇯 Fiji</option>
                                    <option value="FI">🇫🇮 Finland</option>
                                    <option value="FR">🇫🇷 France</option>
                                    <option value="GF">🇬🇫 French Guiana</option>
                                    <option value="PF">🇵🇫 French Polynesia</option>
                                    <option value="TF">🇹🇫 French Southern Territories</option>
                                    <option value="GA">🇬🇦 Gabon</option>
                                    <option value="GM">🇬🇲 Gambia</option>
                                    <option value="GE">🇬🇪 Georgia</option>
                                    <option value="DE">🇩🇪 Germany</option>
                                    <option value="GH">🇬🇭 Ghana</option>
                                    <option value="GI">🇬🇮 Gibraltar</option>
                                    <option value="GR">🇬🇷 Greece</option>
                                    <option value="GL">🇬🇱 Greenland</option>
                                    <option value="GD">🇬🇩 Grenada</option>
                                    <option value="GP">🇬🇵 Guadeloupe</option>
                                    <option value="GU">🇬🇺 Guam</option>
                                    <option value="GT">🇬🇹 Guatemala</option>
                                    <option value="GG">🇬🇬 Guernsey</option>
                                    <option value="GN">🇬🇳 Guinea</option>
                                    <option value="GW">🇬🇼 Guinea-Bissau</option>
                                    <option value="GY">🇬🇾 Guyana</option>
                                    <option value="HT">🇭🇹 Haiti</option>
                                    <option value="HM">🇭🇲 Heard Island and McDonald Islands</option>
                                    <option value="VA">🇻🇦 Holy See (Vatican City State)</option>
                                    <option value="HN">🇭🇳 Honduras</option>
                                    <option value="HK">🇭🇰 Hong Kong</option>
                                    <option value="HU">🇭🇺 Hungary</option>
                                    <option value="IS">🇮🇸 Iceland</option>
                                    <option value="IN">🇮🇳 India</option>
                                    <option value="ID">🇮🇩 Indonesia</option>
                                    <option value="IR">🇮🇷 Iran, Islamic Republic of</option>
                                    <option value="IQ">🇮🇶 Iraq</option>
                                    <option value="IE">🇮🇪 Ireland</option>
                                    <option value="IM">🇮🇲 Isle of Man</option>
                                    <option value="IL">🇮🇱 Israel</option>
                                    <option value="IT">🇮🇹 Italy</option>
                                    <option value="JM">🇯🇲 Jamaica</option>
                                    <option value="JP">🇯🇵 Japan</option>
                                    <option value="JE">🇯🇪 Jersey</option>
                                    <option value="JO">🇯🇴 Jordan</option>
                                    <option value="KZ">🇰🇿 Kazakhstan</option>
                                    <option value="KE">🇰🇪 Kenya</option>
                                    <option value="KI">🇰🇮 Kiribati</option>
                                    <option value="KP">🇰🇵 Korea, Democratic People's Republic of</option>
                                    <option value="KR">🇰🇷 Korea, Republic of</option>
                                    <option value="KW">🇰🇼 Kuwait</option>
                                    <option value="KG">🇰🇬 Kyrgyzstan</option>
                                    <option value="LA">🇱🇦 Lao People's Democratic Republic</option>
                                    <option value="LV">🇱🇻 Latvia</option>
                                    <option value="LB">🇱🇧 Lebanon</option>
                                    <option value="LS">🇱🇸 Lesotho</option>
                                    <option value="LR">🇱🇷 Liberia</option>
                                    <option value="LY">🇱🇾 Libya</option>
                                    <option value="LI">🇱🇮 Liechtenstein</option>
                                    <option value="LT">🇱🇹 Lithuania</option>
                                    <option value="LU">🇱🇺 Luxembourg</option>
                                    <option value="MO">🇲🇴 Macao</option>
                                    <option value="MG">🇲🇬 Madagascar</option>
                                    <option value="MW">🇲🇼 Malawi</option>
                                    <option value="MY">🇲🇾 Malaysia</option>
                                    <option value="MV">🇲🇻 Maldives</option>
                                    <option value="ML">🇲🇱 Mali</option>
                                    <option value="MT">🇲🇹 Malta</option>
                                    <option value="MH">🇲🇭 Marshall Islands</option>
                                    <option value="MQ">🇲🇶 Martinique</option>
                                    <option value="MR">🇲🇷 Mauritania</option>
                                    <option value="MU">🇲🇺 Mauritius</option>
                                    <option value="YT">🇾🇹 Mayotte</option>
                                    <option value="MX">🇲🇽 Mexico</option>
                                    <option value="FM">🇫🇲 Micronesia, Federated States of</option>
                                    <option value="MD">🇲🇩 Moldova, Republic of</option>
                                    <option value="MC">🇲🇨 Monaco</option>
                                    <option value="MN">🇲🇳 Mongolia</option>
                                    <option value="ME">🇲🇪 Montenegro</option>
                                    <option value="MS">🇲🇸 Montserrat</option>
                                    <option value="MA">🇲🇦 Morocco</option>
                                    <option value="MZ">🇲🇿 Mozambique</option>
                                    <option value="MM">🇲🇲 Myanmar</option>
                                    <option value="NA">🇳🇦 Namibia</option>
                                    <option value="NR">🇳🇷 Nauru</option>
                                    <option value="NP">🇳🇵 Nepal</option>
                                    <option value="NL">🇳🇱 Netherlands</option>
                                    <option value="NC">🇳🇨 New Caledonia</option>
                                    <option value="NZ">🇳🇿 New Zealand</option>
                                    <option value="NI">🇳🇮 Nicaragua</option>
                                    <option value="NE">🇳🇪 Niger</option>
                                    <option value="NG">🇳🇬 Nigeria</option>
                                    <option value="NU">🇳🇺 Niue</option>
                                    <option value="NF">🇳🇫 Norfolk Island</option>
                                    <option value="MK">🇲🇰 North Macedonia</option>
                                    <option value="MP">🇲🇵 Northern Mariana Islands</option>
                                    <option value="NO">🇳🇴 Norway</option>
                                    <option value="OM">🇴🇲 Oman</option>
                                    <option value="PK">🇵🇰 Pakistan</option>
                                    <option value="PW">🇵🇼 Palau</option>
                                    <option value="PS">🇵🇸 Palestine, State of</option>
                                    <option value="PA">🇵🇦 Panama</option>
                                    <option value="PG">🇵🇬 Papua New Guinea</option>
                                    <option value="PY">🇵🇾 Paraguay</option>
                                    <option value="PE">🇵🇪 Peru</option>
                                    <option value="PH">🇵🇭 Philippines</option>
                                    <option value="PN">🇵🇳 Pitcairn</option>
                                    <option value="PL">🇵🇱 Poland</option>
                                    <option value="PT">🇵🇹 Portugal</option>
                                    <option value="PR">🇵🇷 Puerto Rico</option>
                                    <option value="QA">🇶🇦 Qatar</option>
                                    <option value="RE">🇷🇪 Réunion</option>
                                    <option value="RO">🇷🇴 Romania</option>
                                    <option value="RU">🇷🇺 Russian Federation</option>
                                    <option value="RW">🇷🇼 Rwanda</option>
                                    <option value="BL">🇧🇱 Saint Barthélemy</option>
                                    <option value="SH">🇸🇭 Saint Helena, Ascension and Tristan da Cunha</option>
                                    <option value="KN">🇰🇳 Saint Kitts and Nevis</option>
                                    <option value="LC">🇱🇨 Saint Lucia</option>
                                    <option value="MF">🇲🇫 Saint Martin (French part)</option>
                                    <option value="PM">🇵🇲 Saint Pierre and Miquelon</option>
                                    <option value="VC">🇻🇨 Saint Vincent and the Grenadines</option>
                                    <option value="WS">🇼🇸 Samoa</option>
                                    <option value="SM">🇸🇲 San Marino</option>
                                    <option value="ST">🇸🇹 Sao Tome and Principe</option>
                                    <option value="SA">🇸🇦 Saudi Arabia</option>
                                    <option value="SN">🇸🇳 Senegal</option>
                                    <option value="RS">🇷🇸 Serbia</option>
                                    <option value="SC">🇸🇨 Seychelles</option>
                                    <option value="SL">🇸🇱 Sierra Leone</option>
                                    <option value="SG">🇸🇬 Singapore</option>
                                    <option value="SX">🇸🇽 Sint Maarten (Dutch part)</option>
                                    <option value="SK">🇸🇰 Slovakia</option>
                                    <option value="SI">🇸🇮 Slovenia</option>
                                    <option value="SB">🇸🇧 Solomon Islands</option>
                                    <option value="SO">🇸🇴 Somalia</option>
                                    <option value="ZA">🇿🇦 South Africa</option>
                                    <option value="GS">🇬🇸 South Georgia and the South Sandwich Islands</option>
                                    <option value="SS">🇸🇸 South Sudan</option>
                                    <option value="ES">🇪🇸 Spain</option>
                                    <option value="LK">🇱🇰 Sri Lanka</option>
                                    <option value="SD">🇸🇩 Sudan</option>
                                    <option value="SR">🇸🇷 Suriname</option>
                                    <option value="SJ">🇸🇯 Svalbard and Jan Mayen</option>
                                    <option value="SE">🇸🇪 Sweden</option>
                                    <option value="CH">🇨🇭 Switzerland</option>
                                    <option value="SY">🇸🇾 Syrian Arab Republic</option>
                                    <option value="TW">🇹🇼 Taiwan, Province of China</option>
                                    <option value="TJ">🇹🇯 Tajikistan</option>
                                    <option value="TZ">🇹🇿 Tanzania, United Republic of</option>
                                    <option value="TH">🇹🇭 Thailand</option>
                                    <option value="TL">🇹🇱 Timor-Leste</option>
                                    <option value="TG">🇹🇬 Togo</option>
                                    <option value="TK">🇹🇰 Tokelau</option>
                                    <option value="TO">🇹🇴 Tonga</option>
                                    <option value="TT">🇹🇹 Trinidad and Tobago</option>
                                    <option value="TN">🇹🇳 Tunisia</option>
                                    <option value="TR">🇹🇷 Turkey</option>
                                    <option value="TM">🇹🇲 Turkmenistan</option>
                                    <option value="TC">🇹🇨 Turks and Caicos Islands</option>
                                    <option value="TV">🇹🇻 Tuvalu</option>
                                    <option value="UG">🇺🇬 Uganda</option>
                                    <option value="UA">🇺🇦 Ukraine</option>
                                    <option value="AE">🇦🇪 United Arab Emirates</option>
                                    <option value="GB">🇬🇧 United Kingdom</option>
                                    <option value="US">🇺🇸 United States</option>
                                    <option value="UM">🇺🇸 United States Minor Outlying Islands</option>
                                    <option value="UY">🇺🇾 Uruguay</option>
                                    <option value="UZ">🇺🇿 Uzbekistan</option>
                                    <option value="VU">🇻🇺 Vanuatu</option>
                                    <option value="VE">🇻🇪 Venezuela, Bolivarian Republic of</option>
                                    <option value="VN">🇻🇳 Viet Nam</option>
                                    <option value="VG">🇻🇬 Virgin Islands, British</option>
                                    <option value="VI">🇻🇮 Virgin Islands, U.S.</option>
                                    <option value="WF">🇼🇫 Wallis and Futuna</option>
                                    <option value="EH">🇪🇭 Western Sahara</option>
                                    <option value="YE">🇾🇪 Yemen</option>
                                    <option value="ZM">🇿🇲 Zambia</option>
                                    <option value="ZW">🇿🇼 Zimbabwe</option>

                                </select>
                                <p class="text-danger" th:if="${#fields.hasErrors('origin')}" th:errors="*{origin}">Origin error</p>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <h5 class="text-danger" style="color: red">[[${error}]]</h5>
                    </div>
                    <br>
                    <button type="submit" class ="btn btn-success text-left" >Save</button>
                    <button type="reset" class ="btn btn-info text-left" >Reset</button>
                    <a href="/vaccineList" class="btn btn-warning text-white">Cancel</a>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script src="vendors/scripts/core.js"></script>
<script src="vendors/scripts/script.min.js"></script>
<script src="vendors/scripts/layout-settings.js"></script>
<script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
<!-- Datatable Setting js -->
<script src="vendors/scripts/datatable-setting.js"></script>
</body>
</html>